# NVIDIA Isaac Sim EULA
ACCEPT_EULA=Y

# default runtime flags
HEADLESS=1
SHM_SIZE=16g

# where to mount big caches
MYRL_WORKDIR=/home/YOUR_USER/myrl_work

# optional
CONTAINER_NAME=myrl-dev
MYRL_MODE=dev
